    header {
        margin-top: 20px;
    }
    
    .header_title {
        display: flex;
        align-items: center;
        /* justify-content: space-between; */
    }
    
    .header_image {
        display: inline-block;
    }
    
    .header_image>img {
        margin-left: 30px;
    }
    
    #header_content {
        width: 85%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .header_left>a {
        text-decoration: none;
        padding: 10px;
        color: black;
    }
    
    .header_input {
        padding: 5px;
        width: 300px;
        height: 20px;
        padding-left: 42px;
        color: #f3f4f6;
    }
    
    .header_right {
        display: flex;
        align-items: center;
        position: relative;
    }
    
    .header_right>img {
        padding: 10px;
    }
    
    .header_right .search {
        position: absolute;
        left: 15px;
    }
    
    section {
        width: 80%;
        margin: 40px auto
    }
    /* Product*/
    
    .product_title {
        font-size: 55px;
        font-weight: bold;
        margin: 15px 0;
    }
    
    .product_view {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .product_view_left span:first-of-type {
        font-weight: bold;
    }
    
    .product_view_left span:last-of-type {
        font-weight: 300;
        color: #9095a0;
    }
    
    .product_view_right {
        display: flex;
        align-items: center;
        gap: 35px;
    }
    
    .product_view_right-icon i {
        margin-right: 5px;
    }
    
    .product_images {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-top: 15px;
    }
    
    .product_images-right img {
        padding: 5px;
    }
    
    .product_desc {
        display: flex;
        margin-top: 30px;
    }
    
    .product_desc-left {
        width: 70%;
    }
    
    .product_desc-right {
        width: 25%;
    }
    
    .product_desc-left>h2 {
        margin: 20px 0;
        font-size: 30px;
        font-weight: bold;
    }
    
    .product_desc-left>p {
        line-height: 19px;
    }
    
    .product_desc-left>p:last-of-type {
        margin-bottom: 25px;
    }
    
    .product_desc-services {
        display: flex;
        gap: 70px;
        margin-bottom: 15px;
    }
    
    .product_desc-services-left,
    .product_desc-services-right {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    
    .product_desc-services-left span,
    .product_desc-services-right span {
        font-size: 15px;
    }
    
    .product_desc-right {
        border: 2px solid #f8f8f8;
        padding: 20px;
    }
    
    .product_desc-right h5 {
        font-size: 35px;
        font-weight: bold;
        text-align: right;
        color: #00bdd6;
    }
    
    .product_desc-right input {
        width: 93%;
        padding: 8px;
        margin-bottom: 15px;
    }
    
    .product_desc-right .total {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    
    .product_desc-right .total span:first-of-type {
        color: #9095a0;
    }
    
    .product_desc-right .total span:last-of-type {
        font-weight: bold;
    }
    
    .product_desc-right .buy {
        width: 93%;
        background-color: #00bdd6;
        padding: 13px 8px;
        text-align: center;
        font-size: 18px;
        color: white;
        font-weight: bold;
        margin-bottom: 15px;
    }
    
    .product_desc-right .card {
        border: 1px solid #00bdd6;
        width: 93%;
        padding: 13px 8px;
        text-align: center;
        color: #00bdd6;
    }